@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url('./images/travel-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.housing-form {
  padding: 40px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.housing-form label {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.housing-form button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.housing-form input {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  color-scheme: black;
  padding: 10px 20px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.housing-form select {
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.housing-form-col {
  display: flex;
  flex-direction: column;
}

.housing-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#city-input {
  width: 95%;
}

#state-input {
  margin-left: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 866px) {
  .housing-form {
    margin-left: 10%;
  }
}